.notFoundContainer{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:#f8fafc;
padding:20px;
}

.notFoundContainer h1{
font-size:150px;
color:#0F766E;
margin:0;
font-weight:800;
}

.notFoundContainer h2{
font-size:40px;
margin:10px 0;
color:#0f172a;
}

.notFoundContainer p{
font-size:18px;
color:#64748b;
margin-bottom:30px;
}

.notFoundContainer button{
padding:15px 30px;
border:none;
border-radius:30px;
background:#0F766E;
color:white;
font-size:16px;
cursor:pointer;
transition:.3s;
}

.notFoundContainer button:hover{
background:#134E4A;
transform:translateY(-3px);
}