.ordersContainer{
min-height:100vh;
padding:80px 20px;
background:#f8fafc;
}

.ordersTitle{
text-align:center;
font-size:52px;
font-weight:800;
margin-bottom:50px;
color:#0F766E;
}

.emptyOrders{
max-width:650px;
margin:auto;
background:white;
padding:70px 50px;
border-radius:30px;
text-align:center;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

animation:fadeIn .5s ease;
}

.emptyOrders h2{
font-size:38px;
margin-bottom:20px;
color:#1f2937;
}

.emptyOrders p{
font-size:18px;
color:#64748b;
margin-bottom:35px;
line-height:1.8;
}

.shopBtn{
background:#0F766E;
color:white;
border:none;
padding:16px 36px;
border-radius:50px;
cursor:pointer;
font-weight:700;
font-size:16px;
transition:.3s;
}

.shopBtn:hover{
transform:translateY(-4px);
background:#115e59;
box-shadow:
0 10px 25px rgba(15,118,110,.25);
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@media(max-width:768px){

.ordersTitle{
font-size:36px;
}

.emptyOrders{
padding:40px 25px;
}

.emptyOrders h2{
font-size:28px;
}

.emptyOrders p{
font-size:16px;
}

}